@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #000;
    --bg-grey: #EEEEEE;
    --text-silver: #757575;
    --cultured: #F5F5F5;
    --bright-gray: #EEEEEE;
    --rasin-black: #212121;
    font-family: "Roboto", sans-serif;
}

.max-container-one {
    margin: 0 auto;
    max-width: 1400px;
}

.max-container-two {
    margin: 0 auto;
    max-width: 1500px;
}

/* Header Details CSS */
.header-details-bg {
    display: none;
    background-color: var(--bg-grey);
}

.header-details {
    font-weight: 400;
    padding: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-details ul {
    list-style-position: inside;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-details ul li {
    list-style-type: none;
}

.header-details ul li::before {
    content: "\2022";
    padding-right: 10px;
}

.header-details ul .no-bullet::before {
    content: "";
}

.fa-heart {
    font-size: 13px;
}

@media screen and (min-width: 760px) {
    .header-details-bg {
        display: block;
    }
}

/* header {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
} */

/* Navbar CSS for Desktop Devices */
.navbar {
    padding: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.navbar .navbar-title {
    font-size: 26px;
    font-weight: 700;
}

.navbar .navbar-links {
    display: flex;
    gap: 60px;
}

.navbar .navbar-links li {
    list-style-type: none;
}

.navbar .navbar-links li a {
    color: var(--text-silver);
    font-size: 14px;
    text-decoration: none;
}

.navbar .navbar-icons {
    display: flex;
    gap: 30px;
    color: var(--text-silver);
    font-size: 14px;
}

.navbar .navbar-icons>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.navbar .navbar-links li:hover a {
    color: var(--black);
}

/* Responsive Navigation Bar CSS */
.navbar .toggle-btn {
    display: none;
}

.toggle-btn .fa-solid {
    /* Setting Icon font size */
    font-size: 23px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 20px;
    top: 140px;
    width: 300px;
    height: 0;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--bg-grey);
    transition: height 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open {
    height: 320px;
}

.dropdown-menu .dropdown-links {
    padding: 20px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.dropdown-menu .dropdown-links a {
    text-decoration: none;
    font-size: 14px;
    color: var(--text-silver);
}

.dropdown-menu .dropdown-icons {
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    font-size: 14px;
    color: var(--text-silver);
}

.dropdown-menu .dropdown-icons>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

/* Custom Breakpoint for Navigation Bar */
@media screen and (max-width: 1110px) {
    .navbar .navbar-links {
        display: none;
    }

    .navbar .navbar-icons {
        display: none;
    }

    .dropdown-menu {
        display: block;
    }

    .navbar .toggle-btn {
        display: block;
    }
}

@media screen and (max-width: 760px) {
    .dropdown-menu {
        top: 70px;
        left: 20px;
        width: unset;
    }

    .dropdown-menu .dropdown-icons {
        justify-content: flex-start;
    }
}

/* Hero Section Main CSS */
.hero-section {
    display: flex;
}

.hero-section .hero-main {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
    background-color: var(--cultured);
}

/* Hero Section Content CSS */
.hero-main .hero-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hero-main .main-sub-heading {
    font-weight: 700;
    font-size: 22px;
}

.hero-main .main-heading {
    font-weight: 700;
    font-size: clamp(43px, 5vw, 68px);
    font-family: "Playfair Display", serif;
}

.hero-main .main-price {
    font-size: 18px;
    font-weight: 400;
}

.hero-main .main-price span {
    font-size: 24px;
    font-weight: 700;
}

/* Hero Section Image CSS */
.hero-main .hero-img-container img {
    width: 100%;
    max-width: 600px;
    height: auto;
}

/* Hero Button CSS */
.main-button {
    position: relative;
    color: white;
    background-color: var(--rasin-black);
    width: 185px;
    height: 60px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    cursor: pointer;
}

.main-button .fa-circle {
    font-size: 8px;
}

.main-button .fa-circle.circle-one {
    position: absolute;
    top: 10px;
    left: 10px;
}

.main-button .fa-circle.circle-two {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

/* Hero Section Left and Right CSS */
.hero-section .hero-left {
    display: none;
    width: 130px;
    background-color: var(--bright-gray);
}

.hero-left .big-number {
    position: relative;
    left: -10px;
    font-size: 60px;
    font-weight: 700;
    font-family: "Playfair Display", serif;
    transform: rotate(270deg);
    transform-origin: center;
}

.hero-left .sm-number {
    padding: 5px 10px;
    transform: rotate(270deg);
    transform-origin: center;
    color: white;
    background: #424242;
}

.hero-section .hero-right {
    display: none;
    width: 130px;
}

@media screen and (min-width: 760px) {
    .hero-section .hero-main {
        flex-direction: row;
    }
}

@media screen and (min-width: 1110px) {
    .hero-section {
        min-height: 80svh;
    }

    .hero-section .hero-right,
    .hero-section .hero-left {
        display: flex;
    }

    .hero-section .hero-left {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}

/* Features Section CSS */
.features-section {
    display: flex;
}

.features-section .center-div {
    width: 100%;
}

/* Left and Right Sections CSS */
.features-section .left-color {
    display: none;
    width: 130px;
    background-color: var(--bright-gray);
}

.features-section .right-color {
    display: none;
    width: 130px;
}

@media screen and (min-width: 1110px) {

    .features-section .left-color,
    .features-section .right-color {
        display: flex;
    }
}

/* Main Section for Features */
.features-main {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 50px 20px;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.features-main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: var(--cultured);
}

.features-main .features-flex-1 {
    display: flex;
    gap: 30px;
}

.features-main .features-flex-1>div {
    position: relative;
    max-width: 560px;
    max-height: 510px;
    box-shadow: 0 0 1px var(--text-silver);
}

.features-main .features-flex-1 .f2 {
    max-width: 340px;
}

.features-main .features-flex-2 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.features-main .features-flex-2>div {
    position: relative;
    max-width: 450px;
    max-height: 240px;
    box-shadow: 0 0 1px var(--text-silver);
}

@media screen and (max-width: 760px) {
    .features-main {
        flex-direction: column;
    }

    .features-main .features-flex-2 {
        flex-direction: row;
    }

    .features-main .features-flex-2>div {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .features-main .features-flex-1 {
        flex-wrap: wrap;
    }

    .features-main .features-flex-1 .f2 {
        max-width: 100%;
    }

    .features-main .features-flex-2 {
        flex-wrap: wrap;
    }

    .features-main .features-flex-2>div {
        max-width: 100%;
    }
}

/* Features content CSS */

.features-main .f-details {
    position: absolute;
    padding: 20px;
}

.features-main .f2 .f-details {
    bottom: 0;
    background: rgb(255, 255, 255);
    background: linear-gradient(41deg, rgba(255, 255, 255, 1) 20%, rgba(252, 70, 107, 0) 53%);
}

.features-main .f-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    background: rgb(255, 255, 255);
    background: linear-gradient(148deg, rgba(255, 255, 255, 1) 20%, rgba(252, 70, 107, 0) 53%);
}

.f-details .f-content .f-item-name {
    font-weight: 700;
    font-size: 32px;
    font-family: "Playfair Display", serif;
}

.f-details .f-content .f-price {
    font-weight: 500;
    font-size: 20px;
}

/* Function Button CSS */
.f-details .f-btn-container {
    margin-left: 5px;
    border: 1px solid black;
}

.f-details .f-btn-container .f-button {
    padding: 10px 30px;
    border: 1px solid black;
    transform: translate(-5px, -5px);
    transition: transform 0.2s ease-in;
}

.f-details .f-btn-container .f-button:hover {
    transform: translate(0);
    cursor: pointer;
}

/* Offer Section */
.offer-section {
    padding: 20px 30px 0;
}

.offer-section .offer-container {
    position: relative;
    top: 100px;
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
}

.offer-section .offer-container .offer-details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 70px;
}

.offer-section .offer-container .offer-details h2 {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    line-height: 120px;
    font-size: clamp(60px, 5vw, 90px);
}

.offer-section .offer-container .offer-details p {
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
}

.offer-section .offer-container .offer-img-container {
    position: relative;
    flex-grow: 1;
}

.offer-section .offer-container .offer-img-container img {
    width: 100%;
    height: auto;
    max-width: 570px;
}

.offer-section .offer-container .offer-img-container .offer-price {
    position: absolute;
    right: 0;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 20px;
}

.offer-section .offer-container .offer-img-container .offer-price .offer-dash {
    width: 150px;
    height: 1px;
    border: 1px solid var(--rasin-black);
}

@media screen and (max-width: 1110px) {
    .offer-section {
        padding: 0px 30px 0;
    }

    .offer-section .offer-container {
        flex-direction: column;
        top: 70px;
    }
    
    .offer-section .offer-container .offer-img-container .offer-price .offer-dash {
        width: 70px;
    }
}

/* Additional Products section */

/* Decoration and Architect Section CSS */
.decoration-section {
    padding: 100px 20px;
    background-color: var(--bright-gray);
}

.architect-section {
    padding: 100px 20px;
    background-color: var(--cultured);
}

.architect-section .da-container {
    flex-wrap: wrap-reverse;
}

.da-container {
    max-width: 1450px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.da-container .da-description {
    padding-top: 30px;
    max-width: 330px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.da-container .da-description h3 {
    font-weight: 700;
    font-size: 36px;
    font-family: "Playfair Display", serif;
}

.da-container .da-description p {
    line-height: 25px;
}

@media screen and (max-width:600px) {

    .decoration-section,
    .architect-section {
        padding: 50px 20px;
    }

    .da-container .da-description {
        padding-top: 0;
    }
}

/* Newsletter Section CSS */
.newsletter-section {
    padding: 100px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.section-heading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-align: center;
}

.section-heading {
    font-weight: 700;
    font-size: clamp(30px, 5vw, 46px);
    font-family: "Playfair Display", serif;
}

.newsletter-section .news-input {
    width: 420px;
    padding: 15px 20px;
    background-color: var(--cultured);
    border: none;
}

.newsletter-section .news-button {
    padding: 15px 45px;
    border: none;
    border-radius: 0px 4px 0px 4px;
    color: white;
    cursor: pointer;
    background-color: var(--rasin-black);
}

@media screen and (max-width:650px) {
    .newsletter-email-section {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .newsletter-section .news-input {
        width: 100%;
    }

    .newsletter-section .news-button {
        width: 100%;
    }
}

/* Blogs Section */
.blogs-section {
    display: flex;
}

.blogs-section .blog-center {
    width: 100%;
    padding: 100px 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: var(--bright-gray);
}

/* Left and Right Sections CSS */
.blogs-section .blog-left {
    display: none;
    width: 130px;
    background-color: white;
}

.blogs-section .blog-right {
    display: none;
    width: 130px;
    background-color: var(--bright-gray);
}

@media screen and (min-width: 1110px) {

    .blogs-section .blog-left,
    .blogs-section .blog-right {
        display: block;
    }
}

/* Blog Container and Blog card CSS */
.blog-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.blog-container .blog-card {
    max-width: 350px;
    background-color: white;
}

.blog-container .blog-card img {
    max-width: 350px;
    width: 100%;
    max-height: 320px;
    object-fit: cover;
}

.blog-container .blog-content {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.blog-card .blog-content .blog-heading {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.blog-card .blog-content .blog-heading h4 {
    line-height: 23px;
    font-size: 18px;
    font-weight: 500;
}

.blog-card .blog-heading p {
    font-size: 12px;
}

.blog-card .blog-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.blog-card .blog-details p {
    font-size: 14px;
    line-height: 22px;
}

.blog-card .blog-details div {
    font-size: 12px;
}

.blog-card .blog-details .blog-read-more {
    display: flex;
    align-items: center;
    gap: 15px;
}

.blog-card .blog-details .blog-dash {
    width: 40px;
    height: 2;
    border: 1px solid var(--rasin-black);
}

@media screen and (min-width: 800px) {
    .blog-container {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

/* Our Support CSS */
.support-section {
    display: flex;
}

.support-section .s-center {
    width: 100%;
}

/* Left and Right Sections CSS */
.support-section .s-left {
    display: none;
    width: 130px;
}

.support-section .s-right {
    display: none;
    width: 130px;
    background-color: var(--bright-gray);
}

@media screen and (min-width: 1110px) {

    .support-section .s-left,
    .support-section .s-right {
        display: block;
    }
}

.support-container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 100px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
}

.support-container .s-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.support-container .s-item img {
    width: 70px;
    height: 70px;
}

.support-container .s-item>div {
    text-align: center;
}

.support-container .s-heading {
    font-size: 20px;
    font-weight: 700;
}

@media screen and (max-width:500px) {
    .support-container {
        flex-direction: column;
    }
}

/* Brands CSS */
.brands-section {
    padding: 100px 20px;
    background-color: var(--bright-gray);
}

.brands-container {
    max-width: 1410px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

@media screen and (max-width:950px) {
    .brands-container {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width:500px) {
    .brands-section {
        padding: 50px 20px;
    }

    .brands-container {
        flex-direction: column;
        align-items: center;
    }

    .brands-container img {
        height: 100px;
    }
}

/* Footer CSS */

footer {
    padding: 100px 20px 20px;
}

.footer-main {
    max-width: 1440px;
    margin: 0 auto;
    padding-bottom: 100px;
    display: flex;
    gap: 100px;
}

.footer-main .footer-info {
    max-width: 420px;
    font-size: 14px;
}

.footer-main .footer-info .footer-heading {
    font-size: 26px;
    font-weight: 700;
}

.footer-main .footer-info p {
    margin-top: 20px;
    line-height: 28px;
}

.footer-main .footer-links-container {
    width: 100%;
    display: flex;
}

.footer-main .footer-links-container>div {
    width: 25%;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer-main .footer-links-container h3 {
    font-size: 18px;
    font-weight: 500;
}

.footer-main .footer-links-container ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-main .footer-links-container ul a {
    text-decoration: none;
    color: var(--rasin-black);
}

footer .copyright-container {
    max-width: 1440px;
    margin: 0 auto;
}

footer .copyright-container>div {
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .footer-main {
        flex-direction: column;
        gap: 50px;
    }
}

@media screen and (max-width: 760px) {
    .footer-main {
        gap: 10px;
    }

    .footer-main .footer-links-container {
        flex-wrap: wrap;
    }

    .footer-main .footer-links-container>div {
        width: 50%;
        padding-top: 50px;
    }
}

@media screen and (max-width: 500px) {
    .footer-main .footer-links-container>div {
        width: 100%;
    }
}